@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700,900');

* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;

	// outline: 1px solid yellow;
	}

html {
	background-image: url(../images/assets/main-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}

body {
    max-width: 1200px;
    margin: auto;
	font-family: 'Yantramanav', sans-serif;
	color: rgb(91, 91, 91);
	}

h1, h2 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 12px;
	color: rgb(50, 50, 50);
	}

h1 {
	font-size: 4rem;
	color: rgb(209, 86, 15);
	margin-bottom: 48px;
	}

.secondary-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}

.sticky-content--top {
	position: sticky;
	top: 24px;
	align-self: flex-start;
	margin: 0 auto;
	}

.more-link {
	padding: 5px 30px;
	background-color: rgb(6, 78, 150);
	align-self: center;
	color: white;
	text-decoration: none;
	border-radius: 50px;
	}

.main-header {
	padding: 24px;
	background-color: rgba(34, 51, 135, 0.252);
	display: flex;
	position: relative;
	}

.logo {
	background-color: teal;
	height: 80px;
	width: 200px;
	border-radius: 10px;
	}

.secondary-page .logo {
	margin-bottom: 48px;
	}

.main-nav {
	display: flex;
	margin-left: auto;
	align-items: center;
	
	a {
		width: 200px;
		padding: 0 20px 10px;
		color: white;
		text-align: center;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		opacity: .8;
		transition: .5s;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			margin: auto;
			height: 4px;
			width: 80%;
			border-radius: 2px;
			background-color: #fff;
			}

		&:hover {
			opacity: 1;

			&:after {
				background-color: rgb(255, 241, 181);
				}
			}
		
		+ a {
			margin-left: 32px;
			}

		.title {
			margin-bottom: 4px;
			font-size: 1.2rem;
			font-weight: bold;
			}

		.title + p {
			font-size: .8rem;
			}
		}
	}

.secondary-page .main-header,
.secondary-page .main-nav {
	flex-direction: column;
	}

.secondary-page .main-header {
	min-width: 400px;
	align-items: center;
	}
	
.secondary-page .main-nav {
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;

	a + a {
		margin-left: 0;
		margin-top: 48px;
		}
	}

.slider {
	height: 400px;
	display: flex;
	flex-direction: column;
	padding: 24px;
	}

.slider-content {
	margin: auto;
	margin-right: 0;
	display: flex;
	flex-direction: column;
	}
.slider-title {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	color: rgb(255, 241, 181);
	font-size: 3rem;
	margin-bottom: 24px;
	// font-style: italic;
	}

.slider-text {
	font-size: .9rem;
	line-height: 1.8;
	color: rgb(233, 233, 233);
	}

.slider-text div {
	background-color: navajowhite;
	}

.filler-text {
	max-width: 500px;
	}
.filler-text div {
	display: inline-block;
	width: 120px;
	height: 12px;
	border-radius: 6px;
	background-color: navajowhite;
	
	&:nth-child(2) {
		width: 50px;
		}
	&:nth-child(3) {
		width: 10px;
		}
	&:nth-child(4) {
		width: 80px;
		}
	&:nth-child(5) {
		width: 20px;
		}
	&:nth-child(6) {
		width: 40px;
		}
	&:nth-child(7) {
		width: 70px;
		}
	&:nth-child(8) {
		width: 20px;
		}
	&:nth-child(9) {
		width: 120px;
		}
	&:nth-child(10) {
		width: 60px;
		}
	&:nth-child(11) {
		width: 10px;
		}
	&:last-child {
		width: 100px;
		}
	}

.floating-contact {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 12px;
	padding-bottom: 24px;
	}

.fl-contact-item {
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: rgb(255, 255, 255);
	// font-size: .9rem;
	font-weight: bold;
	letter-spacing: 1px;
	width: 200px;
	background-color: rgba(6, 78, 150, 0.721);
	border-radius: 22px;
	}

.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 24px;

	background-color: rgb(255, 254, 240);
	border-left: 1px solid white;
	}

.secondary-page .main-content {
	flex: 1;
	box-shadow: -30px 0 30px rgba(23, 23, 24, 0.837);
	}

.content-header {
	margin-bottom: 48px;
	
	h1 {
		// color: rgb(19, 103, 186);
		background-image: 
			linear-gradient(
				hsla(0,0,100,0),
				hsla(0,0,100,.5)
				),
			url(../images/assets/reg-header-bg.jpg);
		background-size: cover;
		background-position: left center;
		margin-top: -24px;
		margin-left: -24px;
		margin-right: -24px;
		padding: 128px 24px;
		padding-bottom: 0;

		span {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: -2px; left: 0; right: 0;
				margin: auto;
				width: 70%;
				height: 2px;
				border-radius: 3px;
				background-color: rgb(236, 134, 25);
				}
			}
		}
	}

.services,
.intro {
	width: calc(50% - 24px);
	}

.services {
	display: flex;
	flex-direction: column;
	}

.services-item {
	margin-bottom: 48px;
	}

.services-thumb {
	height: 120px;
	width: 120px;
	background-color: teal;
	float: left;
	margin-right: 24px;
	}

.services-title {
	font-weight: 900;
	font-size: 1.2rem;
	color: rgb(60, 82, 189);
	margin-bottom: 12px;
	}

.services-text {
	font-size: .8rem;
	line-height: 1.4;
	color: #222;
	}

.services-title,
.services-text {
	overflow: hidden;
	}

.intro {
	background-color: rgb(240, 234, 227);
	
	.filler-text div {
		background-color: teal;
		}
	}

.intro-image {
	img {
		display: block;
		width: 100%;
		max-width: 100%;
		max-height: 240px;
		object-fit: cover;
		object-position: 0 0;
		}
	}

.intro-content {
	display: flex;
	flex-direction: column;
	padding: 24px;
	}

.intro-text {
	margin-bottom: 24px;
	font-size: .9rem;
	color: #222;
	}

.intro-link {
	height: 30px;
	width: 120px;
	background-color: teal;
	margin-left: auto;
	border-radius: 15px;
	}

.main-footer {
	height: 120px;
	background-color: #222;
	}

.reg-form {
	flex: 1;

	label {
		display: flex;
		align-items: center;
		padding: 24px;
		border-bottom: 1px solid rgb(209, 86, 15);

		&:last-of-type {
			margin-bottom: 24px;
			}
		
		.label-text {
			width: 250px;
			}
		input {
			width: 100%;
			padding: 12px;
			}
		
		.label-text {
			text-align: right;
			padding-right: 12px;
			}
		}
	
	button[type=submit] {
		margin: auto;
		display: block;
		border-radius: 5px;
		padding: 12px;
		background-color: dodgerblue;
		color: white;
		border: 0;
		width: 120px;
		}
	}