@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:400,700,900');

* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;

	// outline: 1px solid dodgerblue;
	}

html {
	background-image: url(../images/assets/main-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	}

body {
    margin: auto;
	font-family: 'Yantramanav', sans-serif;
	color: rgb(91, 91, 91);
	}
body.secondary-page {
    max-width: 1200px;
	}
body.mob-menu {
	overflow: hidden;
	}

h1, h2 {
	margin-bottom: 24px;
	color: rgb(86, 86, 86);
	}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 4rem;
	color: rgb(209, 86, 15);
	margin-bottom: 48px;
	}

ul {
	padding-left: 24px;
	margin-bottom: 48px;
	}
li + li {
	margin-top: 24px;
	}

[class*="ico-"] {
	position: relative;
	padding-left: 40px!important;

	&:before {
		content: '';
		position: absolute;
		left: 0; top: 0;
		display: inline-block;
		width: 48px;
		height: 100%;
		background-size: 16px auto;
		background-position: center center;
		background-repeat: no-repeat;
		}
	}

.ico-call:before {
	background-image: url(../images/assets/icons/ico-call.png);
	}
.ico-msg:before {
	background-image: url(../images/assets/icons/ico-msg.png);
	}
.ico-menu:before {
	background-image: url(../images/assets/icons/ico-menu.png);
	}
.ico-close {
	padding-left: 24px!important;
	}
.ico-close:before {
	background-size: 6px auto;
	width: 24px;
	margin-right: 0;
	background-image: url(../images/assets/icons/ico-close.png);
	}

.secondary-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}
	@media (max-width: 930px) {
		.secondary-page {
			flex-direction: column;
			}
		}

.sticky-content--top {
	position: sticky;
	top: 24px;
	align-self: flex-start;
	margin: 0 auto;
	}
	@media (max-width: 930px) {
		.sticky-content--top {
			position: relative;
			top: auto;
			margin: 0;
			width: 100%;
			display: flex;
			}
		}
	@media (max-width: 490px) {
		.sticky-content--top {
			// flex-direction: column;
			}
		}

.more-link {
	padding: 5px 30px;
	background-color: rgb(6, 78, 150);
	align-self: center;
	color: white;
	text-decoration: none;
	border-radius: 50px;
	}

.btn-link {
	display: inline-block;
	border-radius: 5px;
	padding: 12px;
	background-color: dodgerblue;
	color: white;
	border: 0;
	text-decoration: none;

	+ .btn-link {
		margin-left: 24px;
		}
	}

.main-header {
	padding: 24px;
	background-color: rgba(19, 32, 95, 0.442);
	display: flex;
	position: relative;
	}

.secondary-page .main-header {
	padding: 48px 24px 128px;
	min-width: 400px;
	align-items: center;
	}
	@media (max-width: 1200px) {
		.secondary-page .main-header {
			min-width: 30%;
			}
		}
	@media (max-width: 930px) {
		.secondary-page .main-header {
			padding: 12px 24px 12px;
			// flex-wrap: wrap;
			}
		}

.logo {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	text-align: center;
	max-width: 200px;
	text-decoration: none;

	&.logo--big {
		width: 100%;
		max-width: 320px;
		margin: auto 0;
		align-self: flex-start;
		}

	span {
		display: none;
	}

	img {
		align-self: center;
		margin-right: 0;
		margin-bottom: 4px;
		width: 100%;
		max-width: 100%;
		}
	}
	@media (max-width: 930px) {
		.logo.logo--big {
			align-self: center;
			margin-bottom: 48px;
			}
		}

.secondary-page .logo {
	margin-bottom: 24px;
	}
	@media (max-width: 930px) {
		.secondary-page .logo {
			max-width: 128px;
			align-self: flex-start;
			margin: 0;
			margin-bottom: 0;
			}
		}

.main-nav {
	display: flex;
	margin: 0 auto;
	align-items: center;
	
	a {
		width: 200px;
		padding: 0 20px 10px;
		color: white;
		text-align: center;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		opacity: .9;
		transition: .5s;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			margin: auto;
			height: 4px;
			width: 80%;
			border-radius: 2px;
			background-color: #fff;
			opacity: .2;
			}

		&:hover {
			opacity: 1;

			&:after {
				background-color: rgb(252, 255, 90);
				}
			}
		
		+ a {
			margin-left: 32px;
			}

		.title {
			margin-bottom: 4px;
			font-size: 1.2rem;
			font-weight: bold;
			}

		.title + p {
			font-size: .8rem;
			}
		}
	}
	@media (max-width: 930px) {
		.main-nav {
			display: none;
			}
		}

.secondary-page .main-header,
.secondary-page .main-nav {
	flex-direction: column;
	}
	@media (max-width: 930px) {
		.secondary-page .main-header {
			flex-direction: row;
			}
		}
	
.secondary-page .main-nav {
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;

	a + a {
		margin-left: 0;
		margin-top: 48px;
		}
	}
	
body.mob-menu .main-nav {
	position: fixed;
	top: 0; right: 0;
	left: 0; bottom: 0;
	display: flex;
	flex-direction: column;
	padding: 48px;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.918);
	overflow: auto;

	a + a {
		margin-left: 0;
		margin-top: 48px;
		}
	}

.main-nav-trigger {
	background-color: rgba(58, 70, 133, 0.905);
	border: 0;
	color:rgb(235, 235, 235);
	padding: 10px;
	border-radius: 5px;
	margin: auto;
	cursor: pointer;
	display: none;
	}
.secondary-page .main-nav-trigger {
	margin: auto 0 auto auto;
	align-self: flex-end;
	}
	@media (max-width: 930px) {
		.main-nav-trigger {
			display: block;
			}
		}

body.mob-menu .main-nav-trigger {
	position: fixed;
	top: 12px; right: 12px;
	z-index: 99999;
	}

.slider {
	max-width: 1200px;
	margin: 0 auto;
	height: 400px;
	display: flex;
	padding: 24px;
	}
	@media (max-width: 930px) {
		.slider {
			height: auto;
			flex-direction: column;
			margin-bottom: 48px;
			}
		}
	@media (max-width: 700px) {
		.slider {
			margin-bottom: 0;
			}
		}

.slider-content {
	margin: auto;
	margin-right: 0;
	display: flex;
	flex-direction: column;
	}
	@media (max-width: 930px) {
		.slider-content {
			margin-right: auto;
			}
		}
.slider-title {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	color: rgb(255, 235, 144);
	font-size: 3rem;
	margin-bottom: 24px;
	// font-style: italic;
	}
	@media (max-width: 930px) {
		.slider-title {
			text-shadow: 0 0 10px rgba(6, 51, 30, 0.864);
			}
		}
	@media (max-width:540px) {
		.slider-title {
			font-size: 2rem;
			text-align: center;
			}
		}

.slider-text {
	font-size: .9rem;
	line-height: 1.8;
	color: rgb(233, 233, 233);
	}
	@media (max-width: 930px) {
		.slider-text {
			background-color: rgba(62, 123, 96, 0.748);
			padding: 24px;
			border-radius: 15px;
			}
		}
	@media (max-width: 540px) {
		.slider-text {
			// text-align: justify;
			}
		}

.slider-text div {
	background-color: navajowhite;
	}

.filler-text {
	max-width: 500px;
	}
.filler-text div {
	display: inline-block;
	width: 120px;
	height: 12px;
	border-radius: 6px;
	background-color: navajowhite;
	
	&:nth-child(2) {
		width: 50px;
		}
	&:nth-child(3) {
		width: 10px;
		}
	&:nth-child(4) {
		width: 80px;
		}
	&:nth-child(5) {
		width: 20px;
		}
	&:nth-child(6) {
		width: 40px;
		}
	&:nth-child(7) {
		width: 70px;
		}
	&:nth-child(8) {
		width: 20px;
		}
	&:nth-child(9) {
		width: 120px;
		}
	&:nth-child(10) {
		width: 60px;
		}
	&:nth-child(11) {
		width: 10px;
		}
	&:last-child {
		width: 100px;
		}
	}

.floating-contact {
	width: 100%;
	padding: 12px;
	background-color: rgba(6, 78, 150, 0.721);

	.inner-wrapper {
		display: flex;
		// justify-content: center;
		max-width: 1200px;
		margin: auto;
		}
	}
	@media(max-width: 530px) {
		.inner-wrapper {
			flex-direction: column;
			}
		}

.secondary-page .floating-contact {
	margin-bottom: 24px;
	width: auto;
	}
.secondary-page .inner-wrapper {
	flex-direction: column;
	}
	@media (max-width: 930px) {
		.secondary-page .floating-contact {
			margin-bottom: 0;
			align-self: flex-start;
			margin: auto;
			border-radius: 10px;
			padding: 12px 16px;
			}
		.secondary-page .inner-wrapper {
			flex-direction: row;
			}
		}
	@media (max-width: 600px) {
		.secondary-page .floating-contact {
			display: none;
			}
		}

.fl-contact-item {
	display: flex;
	justify-content: center;
	padding: 12px;
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: rgba(41, 15, 15, 0.5);
	border-left: 5px solid rgba(255, 255, 255, 0.524);

	&:hover {
		background-color: rgba(67, 137, 216, 0.571);
		}

	+ .fl-contact-item {
		margin-left: 12px;
		}
	}
	@media(max-width: 530px) {
		.fl-contact-item {
			margin: 0 auto;

			+ .fl-contact-item {
				margin-left: auto;
				margin-top: 12px;
				border-left: 0;
				}
			}
		}

.secondary-page .fl-contact-item {
	font-size: .8rem;
	font-weight: normal;
	padding: 5px;

	&[class*="ico-"] {
		padding-left: 24px!important;

		&:before {
			width: 24px;
			background-size: 12px auto;
			}
		}

	+ .fl-contact-item {
		margin-left: 0;
		margin-top: 12px;
		}
	}
	@media (max-width: 930px) {
		.secondary-page .fl-contact-item + .fl-contact-item {
			margin-left: 24px;
			margin-top: 0;
			}
		}

.main-content {
	padding: 24px;

	background-color: rgb(255, 254, 240);
	border-left: 1px solid white;

	p {
		margin-bottom: 24px;
		}
	}
.main-content,
.intro-wrapper {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}
.intro-wrapper {
	max-width: 1200px;
	}

.secondary-page .main-content {
	flex: 1;
	box-shadow: -30px 0 30px rgba(23, 23, 24, 0.837);
	padding-bottom: 128px;
	align-items: flex-start;
	align-content: flex-start;
	}

.content-header {
	width: 100%;
	
	h1 {
		// color: rgb(19, 103, 186);
		font-size: 2.3rem;
		background-image: 
			linear-gradient(
				hsla(0,0,100,0),
				hsla(0,0,100,.5)
				),
			url(../images/assets/reg-header-bg.jpg);
		background-size: cover;
		background-position: left center;
		margin-top: -24px;
		margin-left: -24px;
		margin-right: -24px;
		padding: 128px 24px 0;

		span {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: -2px; left: 0; right: 0;
				margin: auto;
				width: 70%;
				height: 2px;
				border-radius: 3px;
				background-color: rgb(236, 134, 25);
				}
			}
		}

	p:last-child {
		margin-bottom: 48px;
		}
	}

.about-map {
	width: 100%;
	max-width: 100%;
	border: 0;
	min-height: 400px;
	margin-bottom: 24px;
	}

.contact-info {
	display: flex;
	font-size: 1.2rem;
	}
	@media (max-width:466px) {
		.contact-info {
			flex-direction: column;
			}
		}

.contact-item {
	+ .contact-item  {
		margin-left: 48px;
		padding-left: 48px;
		border-left: 1px solid;
		}

	div + div {
		margin-top: 24px;
		}
	}
	@media (max-width: 466px) {
		.contact-item + .contact-item  {
			margin-left: 0;
			margin-top: 48px;
			padding-left: 0;
			padding-top: 48px;
			border-left: 0;
			border-top: 1px solid;
			}
		}

.services,
.intro {
	width: calc(50% - 24px);
	}

.secondary-page .services {
	width: 100%;
	}

.services {
	display: flex;
	flex-direction: column;
	}

.services-item {
	margin-bottom: 48px;
	}
.secondary-page .services-item {
	margin-bottom: 56px;
	}


.services-image {
	width: 120px;
	float: left;
	padding: 0 24px;

	img {
		width: 100%;
		max-width: 100%;
		}
	}

.services-title {
	font-weight: 900;
	font-size: 1.2rem;
	color: rgb(60, 82, 189);
	margin-bottom: 12px;
	}

.services-text {
	font-size: .9rem;
	line-height: 1.4;
	color: #222;
	}

.services-title,
.services-text {
	overflow: hidden;
	}

.services-gallery {
	display: flex;
	margin-top: 24px;
	flex-wrap: wrap;
	}

.services-thumb {
	width: calc(33.333% - 12px);
	background-color: teal;
	margin-bottom: 24px;
	margin-right: 12px;

	img {
		display: block;
		width: 100%;
		max-width: 100%;
		}
	}

.intro {
	background-color: rgb(240, 234, 227);
	
	.filler-text div {
		background-color: teal;
		}
	}

.intro-image {
	img {
		display: block;
		width: 100%;
		max-width: 100%;
		max-height: 240px;
		object-fit: cover;
		object-position: 0 0;
		}
	}

.intro-content {
	display: flex;
	flex-direction: column;
	padding: 24px;
	}

.intro-text {
	margin-bottom: 24px;
	font-size: .9rem;
	color: #222;
	}

.intro-link {
	height: 30px;
	width: 120px;
	background-color: teal;
	margin-left: auto;
	border-radius: 15px;
	}

@media (max-width: 650px) {
	.intro-wrapper {
		flex-direction: column;

		.services {
			width: 100%;
			margin-bottom: 48px;
			}
		.services-image {
			width: 60px;
			padding: 0;
			margin-right: 12px;
			}
		
		.intro {
			width: 100%;
			}
		}
	}

.main-footer {
	width: 100%;
	padding: 60px 0;
	background-color: #222;
	text-align: center;
	color: rgb(36, 150, 199);

	a {
		color: white;
		}
	}

.reg-content {
	width: 100%;
	}

.reg-form {
	flex: 1;

	label, .label {
		display: flex;
		align-items: center;
		padding: 24px;
		border-bottom: 1px solid rgb(209, 86, 15);

		&:last-of-type {
			margin-bottom: 24px;
			}
		&.msg-label {
			align-items: flex-start;
			}
		
		.label-text {
			width: 250px;
			text-align: right;
			padding-right: 12px;
			}
		[type=text],
		select,
		textarea,
		.binary {
			align-self: flex-start;
			width: 100%;
			padding: 12px;
			}

		.binary {
			padding: 0;

			input {
				margin-right: 12px;
				}
			}

		textarea {
			height: 100%;
			align-self: stretch;
			}
		
		.binary {
			display: flex;
			}
		.binary label {
			min-width: 120px;
			width: 200px;
			padding: 1% 0 1% 5%;
			margin: 1%;
			border-radius: 3px;
			background-color: rgba(0, 0, 0, 0.156);
			border-bottom: 0;
			}
		}
	
	button[type=submit] {
		margin: auto;
		display: block;
		border-radius: 5px;
		padding: 12px;
		background-color: dodgerblue;
		color: white;
		border: 0;
		width: 120px;
		}
	}
	@media (max-width: 620px) {
		.reg-form {
			label, .label {
				padding: 24px 0;
				}
			}
		}
	@media (max-width: 742px) {
		.reg-form {
			label, .label {
				.binary label {
					min-width: 0;
					width: auto;
					padding: 10px;
					margin: 0;
					margin-right: 12px;
					border-radius: 3px;
					background-color: rgba(0, 0, 0, 0.156);
					border-bottom: 0;
					}
				}
			}
		}
	@media (max-width: 420px) {
		.reg-form {
			label, .label {
				flex-direction: column;
		
				.label-text {
					text-align: left;
					width: 100%;
					}
					
				.binary label {
					min-width: auto;
					width: auto;
					display: flex;
					flex-direction: row;
					}
				}
			}
		}