@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Yantramanav:400,700,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-image: url(../images/assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

body {
  margin: auto;
  font-family: 'Yantramanav', sans-serif;
  color: #5b5b5b;
}

body.secondary-page {
  max-width: 1200px;
}

body.mob-menu {
  overflow: hidden;
}

h1, h2 {
  margin-bottom: 24px;
  color: #565656;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  color: #d1560f;
  margin-bottom: 48px;
}

[class*="ico-"] {
  position: relative;
  padding-left: 40px !important;
}

[class*="ico-"]:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 48px;
  height: 100%;
  background-size: 16px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.ico-call:before {
  background-image: url(../images/assets/icons/ico-call.png);
}

.ico-msg:before {
  background-image: url(../images/assets/icons/ico-msg.png);
}

.ico-menu:before {
  background-image: url(../images/assets/icons/ico-menu.png);
}

.ico-close {
  padding-left: 24px !important;
}

.ico-close:before {
  background-size: 6px auto;
  width: 24px;
  margin-right: 0;
  background-image: url(../images/assets/icons/ico-close.png);
}

.secondary-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 930px) {
  .secondary-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sticky-content--top {
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 auto;
}

@media (max-width: 930px) {
  .sticky-content--top {
    position: relative;
    top: auto;
    margin: 0;
  }
}

.more-link {
  padding: 5px 30px;
  background-color: #064e96;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

.btn-link {
  display: inline-block;
  border-radius: 5px;
  padding: 12px;
  background-color: dodgerblue;
  color: white;
  border: 0;
  text-decoration: none;
}

.btn-link + .btn-link {
  margin-left: 24px;
}

.main-header {
  padding: 24px;
  background-color: rgba(19, 32, 95, 0.442);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.secondary-page .main-header {
  padding: 48px 24px 128px;
  min-width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .secondary-page .main-header {
    min-width: 30%;
  }
}

@media (max-width: 930px) {
  .secondary-page .main-header {
    padding: 12px 24px 12px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
}

.logo.logo--big {
  width: 100%;
  max-width: 320px;
  margin: auto 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.logo span {
  display: none;
}

.logo img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0;
  margin-bottom: 4px;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 930px) {
  .logo.logo--big {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 48px;
  }
}

.secondary-page .logo {
  margin-bottom: 48px;
}

@media (max-width: 930px) {
  .secondary-page .logo {
    max-width: 128px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    margin-bottom: 0;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav a {
  width: 200px;
  padding: 0 20px 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: .9;
  -webkit-transition: .5s;
  transition: .5s;
}

.main-nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 4px;
  width: 80%;
  border-radius: 2px;
  background-color: #fff;
  opacity: .2;
}

.main-nav a:hover {
  opacity: 1;
}

.main-nav a:hover:after {
  background-color: #fcff5a;
}

.main-nav a + a {
  margin-left: 32px;
}

.main-nav a .title {
  margin-bottom: 4px;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-nav a .title + p {
  font-size: .8rem;
}

@media (max-width: 930px) {
  .main-nav {
    display: none;
  }
}

.secondary-page .main-header,
.secondary-page .main-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondary-page .main-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.secondary-page .main-nav a + a {
  margin-left: 0;
  margin-bottom: 48px;
}

body.mob-menu .main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.918);
  overflow: auto;
}

body.mob-menu .main-nav a + a {
  margin-left: 0;
  margin-top: 48px;
}

.main-nav-trigger {
  background-color: rgba(58, 70, 133, 0.905);
  border: 0;
  color: #ebebeb;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

body.mob-menu .main-nav-trigger {
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 99999;
}

.slider {
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
}

@media (max-width: 930px) {
  .slider {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 48px;
  }
}

@media (max-width: 700px) {
  .slider {
    margin-bottom: 0;
  }
}

.slider-content {
  margin: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 930px) {
  .slider-content {
    margin-right: auto;
  }
}

.slider-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #ffeb90;
  font-size: 3rem;
  margin-bottom: 24px;
}

@media (max-width: 930px) {
  .slider-title {
    text-shadow: 0 0 10px rgba(6, 51, 30, 0.864);
  }
}

@media (max-width: 540px) {
  .slider-title {
    font-size: 2rem;
    text-align: center;
  }
}

.slider-text {
  font-size: .9rem;
  line-height: 1.8;
  color: #e9e9e9;
}

@media (max-width: 930px) {
  .slider-text {
    background-color: rgba(62, 123, 96, 0.748);
    padding: 24px;
    border-radius: 15px;
  }
}

.slider-text div {
  background-color: navajowhite;
}

.filler-text {
  max-width: 500px;
}

.filler-text div {
  display: inline-block;
  width: 120px;
  height: 12px;
  border-radius: 6px;
  background-color: navajowhite;
}

.filler-text div:nth-child(2) {
  width: 50px;
}

.filler-text div:nth-child(3) {
  width: 10px;
}

.filler-text div:nth-child(4) {
  width: 80px;
}

.filler-text div:nth-child(5) {
  width: 20px;
}

.filler-text div:nth-child(6) {
  width: 40px;
}

.filler-text div:nth-child(7) {
  width: 70px;
}

.filler-text div:nth-child(8) {
  width: 20px;
}

.filler-text div:nth-child(9) {
  width: 120px;
}

.filler-text div:nth-child(10) {
  width: 60px;
}

.filler-text div:nth-child(11) {
  width: 10px;
}

.filler-text div:last-child {
  width: 100px;
}

.floating-contact {
  width: 100%;
  padding: 12px;
  background-color: rgba(6, 78, 150, 0.721);
}

.floating-contact .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 530px) {
  .inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fl-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  color: white;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: rgba(41, 15, 15, 0.5);
  border-left: 5px solid rgba(255, 255, 255, 0.524);
}

.fl-contact-item:hover {
  background-color: rgba(67, 137, 216, 0.571);
}

.fl-contact-item + .fl-contact-item {
  margin-left: 12px;
}

@media (max-width: 530px) {
  .fl-contact-item {
    margin: 0 auto;
  }
  .fl-contact-item + .fl-contact-item {
    margin-left: auto;
    margin-top: 12px;
    border-left: 0;
  }
}

.main-content {
  padding: 24px;
  background-color: #fffef0;
  border-left: 1px solid white;
}

.main-content,
.intro-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-wrapper {
  max-width: 1200px;
}

.secondary-page .main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: -30px 0 30px rgba(23, 23, 24, 0.837);
          box-shadow: -30px 0 30px rgba(23, 23, 24, 0.837);
  padding-bottom: 128px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.content-header {
  margin-bottom: 48px;
  width: 100%;
}

.content-header h1 {
  font-size: 2.3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5))), url(../images/assets/reg-header-bg.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url(../images/assets/reg-header-bg.jpg);
  background-size: cover;
  background-position: left center;
  margin-top: -24px;
  margin-left: -24px;
  margin-right: -24px;
  padding: 128px 24px 0;
}

.content-header h1 span {
  position: relative;
}

.content-header h1 span:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 2px;
  border-radius: 3px;
  background-color: #ec8619;
}

.content-header p + p {
  margin-top: 24px;
}

.services,
.intro {
  width: calc(50% - 24px);
}

.secondary-page .services {
  width: 100%;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-item {
  margin-bottom: 48px;
}

.secondary-page .services-item {
  margin-bottom: 128px;
}

.services-image {
  width: 120px;
  float: left;
  padding: 0 24px;
}

.services-image img {
  width: 100%;
  max-width: 100%;
}

.services-title {
  font-weight: 900;
  font-size: 1.2rem;
  color: #3c52bd;
  margin-bottom: 12px;
}

.services-text {
  font-size: .8rem;
  line-height: 1.4;
  color: #222;
}

.services-title,
.services-text {
  overflow: hidden;
}

.services-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-thumb {
  width: calc(33.333% - 12px);
  background-color: teal;
  margin-bottom: 24px;
  margin-right: 12px;
}

.services-thumb img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.intro {
  background-color: #f0eae3;
}

.intro .filler-text div {
  background-color: teal;
}

.intro-image img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
}

.intro-text {
  margin-bottom: 24px;
  font-size: .9rem;
  color: #222;
}

.intro-link {
  height: 30px;
  width: 120px;
  background-color: teal;
  margin-left: auto;
  border-radius: 15px;
}

@media (max-width: 650px) {
  .intro-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro-wrapper .services {
    width: 100%;
    margin-bottom: 48px;
  }
  .intro-wrapper .services-image {
    width: 60px;
    padding: 0;
    margin-right: 12px;
  }
  .intro-wrapper .intro {
    width: 100%;
  }
}

.main-footer {
  height: 120px;
  background-color: #222;
}

.reg-content {
  width: 100%;
}

.reg-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reg-form label, .reg-form .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  border-bottom: 1px solid #d1560f;
}

.reg-form label:last-of-type, .reg-form .label:last-of-type {
  margin-bottom: 24px;
}

.reg-form label.msg-label, .reg-form .label.msg-label {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reg-form label .label-text, .reg-form .label .label-text {
  width: 250px;
}

.reg-form label [type=text],
.reg-form label select,
.reg-form label textarea,
.reg-form label .binary, .reg-form .label [type=text],
.reg-form .label select,
.reg-form .label textarea,
.reg-form .label .binary {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  padding: 12px;
}

.reg-form label .binary, .reg-form .label .binary {
  padding: 0;
}

.reg-form label .binary input, .reg-form .label .binary input {
  margin-right: 12px;
}

.reg-form label textarea, .reg-form .label textarea {
  height: 100%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.reg-form label .binary, .reg-form .label .binary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg-form label .binary label, .reg-form .label .binary label {
  min-width: 120px;
  width: 200px;
  padding: 1% 0 1% 5%;
  margin: 1%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.156);
  border-bottom: 0;
}

.reg-form label .label-text, .reg-form .label .label-text {
  text-align: right;
  padding-right: 12px;
}

.reg-form button[type=submit] {
  margin: auto;
  display: block;
  border-radius: 5px;
  padding: 12px;
  background-color: dodgerblue;
  color: white;
  border: 0;
  width: 120px;
}
/*# sourceMappingURL=style.css.map */