@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Yantramanav:400,700,900");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-image: url(../images/assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Yantramanav', sans-serif;
  color: #5b5b5b;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 12px;
  color: #323232;
}

h1 {
  font-size: 4rem;
  color: #d1560f;
  margin-bottom: 48px;
}

.secondary-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sticky-content--top {
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 auto;
}

.more-link {
  padding: 5px 30px;
  background-color: #064e96;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

.main-header {
  padding: 24px;
  background-color: rgba(34, 51, 135, 0.252);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.logo {
  background-color: teal;
  height: 80px;
  width: 200px;
  border-radius: 10px;
}

.secondary-page .logo {
  margin-bottom: 48px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav a {
  width: 200px;
  padding: 0 20px 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: .8;
  -webkit-transition: .5s;
  transition: .5s;
}

.main-nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 4px;
  width: 80%;
  border-radius: 2px;
  background-color: #fff;
}

.main-nav a:hover {
  opacity: 1;
}

.main-nav a:hover:after {
  background-color: #fff1b5;
}

.main-nav a + a {
  margin-left: 32px;
}

.main-nav a .title {
  margin-bottom: 4px;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-nav a .title + p {
  font-size: .8rem;
}

.secondary-page .main-header,
.secondary-page .main-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondary-page .main-header {
  min-width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondary-page .main-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.secondary-page .main-nav a + a {
  margin-left: 0;
  margin-top: 48px;
}

.slider {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
}

.slider-content {
  margin: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #fff1b5;
  font-size: 3rem;
  margin-bottom: 24px;
}

.slider-text {
  font-size: .9rem;
  line-height: 1.8;
  color: #e9e9e9;
}

.slider-text div {
  background-color: navajowhite;
}

.filler-text {
  max-width: 500px;
}

.filler-text div {
  display: inline-block;
  width: 120px;
  height: 12px;
  border-radius: 6px;
  background-color: navajowhite;
}

.filler-text div:nth-child(2) {
  width: 50px;
}

.filler-text div:nth-child(3) {
  width: 10px;
}

.filler-text div:nth-child(4) {
  width: 80px;
}

.filler-text div:nth-child(5) {
  width: 20px;
}

.filler-text div:nth-child(6) {
  width: 40px;
}

.filler-text div:nth-child(7) {
  width: 70px;
}

.filler-text div:nth-child(8) {
  width: 20px;
}

.filler-text div:nth-child(9) {
  width: 120px;
}

.filler-text div:nth-child(10) {
  width: 60px;
}

.filler-text div:nth-child(11) {
  width: 10px;
}

.filler-text div:last-child {
  width: 100px;
}

.floating-contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 12px;
  padding-bottom: 24px;
}

.fl-contact-item {
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  width: 200px;
  background-color: rgba(6, 78, 150, 0.721);
  border-radius: 22px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
  background-color: #fffef0;
  border-left: 1px solid white;
}

.secondary-page .main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: -30px 0 30px rgba(23, 23, 24, 0.837);
          box-shadow: -30px 0 30px rgba(23, 23, 24, 0.837);
}

.content-header {
  margin-bottom: 48px;
}

.content-header h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5))), url(../images/assets/reg-header-bg.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url(../images/assets/reg-header-bg.jpg);
  background-size: cover;
  background-position: left center;
  margin-top: -24px;
  margin-left: -24px;
  margin-right: -24px;
  padding: 128px 24px;
  padding-bottom: 0;
}

.content-header h1 span {
  position: relative;
}

.content-header h1 span:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 2px;
  border-radius: 3px;
  background-color: #ec8619;
}

.services,
.intro {
  width: calc(50% - 24px);
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-item {
  margin-bottom: 48px;
}

.services-thumb {
  height: 120px;
  width: 120px;
  background-color: teal;
  float: left;
  margin-right: 24px;
}

.services-title {
  font-weight: 900;
  font-size: 1.2rem;
  color: #3c52bd;
  margin-bottom: 12px;
}

.services-text {
  font-size: .8rem;
  line-height: 1.4;
  color: #222;
}

.services-title,
.services-text {
  overflow: hidden;
}

.intro {
  background-color: #f0eae3;
}

.intro .filler-text div {
  background-color: teal;
}

.intro-image img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
}

.intro-text {
  margin-bottom: 24px;
  font-size: .9rem;
  color: #222;
}

.intro-link {
  height: 30px;
  width: 120px;
  background-color: teal;
  margin-left: auto;
  border-radius: 15px;
}

.main-footer {
  height: 120px;
  background-color: #222;
}

.reg-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.reg-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  border-bottom: 1px solid #d1560f;
}

.reg-form label:last-of-type {
  margin-bottom: 24px;
}

.reg-form label .label-text {
  width: 250px;
}

.reg-form label input {
  width: 100%;
  padding: 12px;
}

.reg-form label .label-text {
  text-align: right;
  padding-right: 12px;
}

.reg-form button[type=submit] {
  margin: auto;
  display: block;
  border-radius: 5px;
  padding: 12px;
  background-color: dodgerblue;
  color: white;
  border: 0;
  width: 120px;
}
/*# sourceMappingURL=style.css.map */